# Database configuration
POSTGRES_DB=<database name>
POSTGRES_USER=<database username>
POSTGRES_PASSWORD=<database password>
POSTGRES_HOST=<database hostname>
POSTGRES_PORT=<database port>

# Backend URL configuration
BACKEND_URL="http://localhost:8000" 
